RewriteEngine on
RewriteRule ^pedido$ pedido.php
RewriteRule ^pedido/(.+)/(.+)/(.+)/(.+)/(.+)$ pedido.php?idPedido=$1&$2=$3&$4=$5
RewriteRule ^pedido/(.+)/(.+)/(.+)$ pedido.php?idPedido=$1&$2=$3
RewriteRule ^pedido/(.+)$ pedido.php?idPedido=$1

